<div class="container-fluid">
<div class="row">
{{#each artists}}
<div class="col-sm-4">
<div class="card" >
  <img class="image" src="{{images.[0].url}}" onError="this.onerror=null; this.src='https://placeimg.com/150/150/people/grayscale'">
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <a href='/albums/{{id}}' class="btn btn-primary">View Albums</a>
  </div>
</div>
</div>
{{/each}}
</div>
</div>