<div class="container-fluid">
<form action="/search" method="get">
  <div class="form-group">
    <label for="artist">Artist: </label>
    <input type="text" name="artist" id="artist" class="form-control"  placeholder="Search" style="width: 500px">
  </div>
  <a href="/artist"><button type="submit" class="btn btn-primary">Search!</button></a>
</form>
</div>